/*  default class */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

/*  custom class */

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

.container {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin: 0 -10px;
}

.col-4, .col-6 {
  float: left;
  padding: 0 10px;
}

.col-4 {
  width: 33.333333%;
}

.col-6 {
  width: 50%;
}

.button {
  margin-top: 30px;
  display: inline-block;
  padding: 15px 30px;
  background-color: #fff;
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.5s;
}

.button.bordered {
  border: 1px solid #222;
}

.button:hover {
  background-color: #222;
  color: #fff;
  font-weight: normal;
}


p {
  color: #7e7e7e;
  line-height: 30px;
}

/*  header */

#logo {
  float: left;
}

#nav {
  float: right;
  text-transform: uppercase;
  line-height: 100px;
}

#nav li {
  float: left;
  list-style-type: none;
}

#nav a {
  padding: 0 12px;
  text-decoration: none;
  color: #333;
  font-size: 13px;
}

#nav .active a {
  color: #d6b161;
}

.boundary:after {
  content: "|";
  padding: 0 12px;
}

/*  content */

#content > div {
  padding-top: 100px;
}

#content > div:first-child {
  padding-top: 0;
}

#content > hr {
  margin: 0;
  border-top: 1px solid #eee;
}

.slider img {
  width: 100%;
  height: auto;
}

.intro {
  text-align: center;
  margin-bottom: 100px;
}

.intro h2 {
  margin: 0;
  padding-bottom: 10px;
  color: #333;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.intro hr {
  margin: 0 auto;
  width: 60px;
  background-color: #595959;
  border: none;
  height: 1px;
}

.intro p {
  margin: 0;
  line-height: 60px;
  color: #7e7e7e;
}

.category {
  position: relative;
  margin-bottom: 20px;
}

.category img {
  width: 100%;
  height: auto;
}

.category .title {
  position: absolute;
  top: 35%;
  right: 10%;
  text-transform: uppercase;
  text-align: right;
  font-size: 24px;
  font-weight: 300;
}

.category .title.dark {
  color: #222;
}

.category .title.light {
  color: #fff;
}

.product .info {
  padding: 15px 0;
  text-align: center;
}

.product .title {
  margin: 0;
}

.product .title a {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: normal;
}

.product .price {
  color: #7e7e7e;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 30px;
}

.thumbnail {
  position: relative;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.thumbnail .cover {
  background-color: rgba(256,256,256,.3);
  border: 20px solid rgba(256,256,256,.4);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;

  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.thumbnail .cover:hover {
  opacity: 1;
}

.thumbnail .cover a {
  color: #222;
  text-decoration: none;
  position: absolute;
  top: 45%;
}

.event {
  padding: 150px 0;
  background-image: url(https://images.unsplash.com/photo-1498837167922-ddd27525d352?auto=format&fit=crop&w=1350&q=80);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.event .title, .event .subtitle {
  margin: 0;
  color: #fff;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.5;
}

.event .title {
  font-size: 70px;
}

.event .subtitle {
  font-size: 24px;
}

.feature {
  margin-bottom: 100px;
}

.feature img {
  width: 100%;
  height: auto;
}

.feature .col-6 {
  padding: 0 30px;
}

.feature .info {
  text-align: center;
  margin-top: 70px;
}

.feature .info .title, .feature .info .price {
  color: #d6b161;
  text-transform: uppercase;
}

.feature .info .name {
  margin: 0;
  margin-bottom: 10px;
  color: #333;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.5;
}

.feature .info p {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 30px;
}

.feature .info .price {
  font-weight: 100;
  font-size: 26px;
}

.outlets {
  padding-bottom: 100px;
}

.outlets h3 {
  margin: 0;
  margin-bottom: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.outlets .info {
  color: #7e7e7e;
  line-height: 30px;
  text-transform: capitalize;
}

.outlets .info  a {
  color: #7e7e7e;
  text-decoration: none;
}

.outlets .map a {
  color: #d6b161;
  text-decoration: none;
  text-transform: uppercase;
}

/* footer */

#footer {
  position: relative;
  background: #f5f5f5;
  padding: 80px 0;
}

#footer .logo {
  position: absolute;
  border: 5px solid #f5f5f5;
  padding: 20px;
  background: #fff;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

#footer .copyright {
  float: left;
}

#footer .social-media {
  float: right;
}

#footer .copyright .title {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#footer .copyright .subtitle {
  color: #323232;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: capitalize;
}

#footer .social-media li {
  float: left;
}

#footer .social-media li a {
  display: inline-block;
  margin: 0 10px;
  border: 1px solid #333;
  border-radius: 20px;
  color: #333;
  width: 40px;
  height: 40px;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
}

/* go-top */

#go-top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,.6);
  display: inline-block;
  line-height: 40px;
  text-align: center;
  transition: all .3s;
  color: #fff;
  text-decoration: none;
}

#go-top:hover {
  background: #222;
}
